node_modules/*
/node_modules
npm-debug.log
.DS_Store
.vscode
build/
.env

# Coverage directory
coverage

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Package Lock Json
package-lock.json
